@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;0,600;0,900;1,700&family=Poiret+One&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
/**font-family: 'Bodoni Moda', serif;
font-family: 'Poiret One', cursive;
font-family: 'Spartan', sans-serif;*/

*{
    margin:0px; padding:0px;
}
ul,ol {list-style: none;}
a{ text-decoration: none;}

.hidden {
    text-indent: -9999px; overflow:hidden;height:0px;
}
table, th, td {
    border-collapse: collapse;
  }
fieldset {
    border:none;
  }
input {
    text-decoration: none;
  }
body {background: #f2f2f2;}

#header {
    width: 0%;
    height: 170px;
    position: relative;z-index:2;
    overflow: hidden; 
    
    h1 {
        font: 700 60px/1 'Bodoni Moda', serif; color:#333;
        letter-spacing:-1px;      
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translate(-50%,300%);
        transition: 0.5s;
    }

    .filter {
        width: 100%;
        height: 60px;
        position: absolute;
        top:120px;
        right: 0px;
        transition:0.5s;  
        > li {
            float: left;
            width: 25%; 
            height: 100%; 
            position: relative;
            transform: translateY(50%);
            transition: 0.5s;
            box-sizing:border-box;            
            @for $i from  1 through 4 {
                &:nth-of-type(#{$i}) {
                    transition-delay : 0.2s * $i;
                }
            } 
            >a {
                display: block;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                font: 800 15px/60px "Poiret One";
                color: #666;
                letter-spacing: 5px;
                position: relative;
                transition: 0.5s;
                text-align: center;
            }
            &:hover {
                >a {
                    color:#c92800;
                }
            }
        }
    }
    .subMenu {
        width:30px; height:30px;
        background:#c92800;
        position:fixed;
        right:0px;top:30px;
        transition:0.5s;
        i {
            position:absolute;
            left:50%;
            top:50%;
            font-size :26px;
            color:#f2f2f2;
            transform:translate(-50%,-50%) scale(0.2);
            transition:0.5s;
            
        }
        &:hover,&.on {
            i{
                color:#c92800;
                transform:translate(-50%,-50%) scale(0.4,0.5) rotate(180deg);
            }
        }
    }
    &.on {
        h1 {
            transform: translate(-50%,0%);
        }
        .filter > li {
            transform: translateY(0%);     
        }
    }
    &.small {
        position:fixed; top:0px; left:0%;
        height:60px;width:100%;
        background:none;
        background:#c92800;
        h1 {
            width:20%;
            left:12%;top:0%;
            color:#f2f2f2;
            font: bold 30px/60px 'Bodoni Moda', serif;
        }
        .filter{
            width:70%;top:0%;left:20%;
            li{
                a{
                    font: 800 12px/60px "Poiret One";
                    color:#f2f2f2;
                }
            }
        }
        .subMenu {
            width:10%;height:60px;
            display:block;
            right:0%;top:0px;
            background:#f2f2f2;
            i{
                color:#999;
                transform:translate(-50%,-50%) scale(0.9,1) rotate(180deg);
            }
        }
    }
}
aside {
    width: 40%;
    height: 100vh;
    background: rgba(255,255,255,0.2);
    position: fixed;z-index: 3;
    top: 0px; 
    left: -40%;
    backdrop-filter: blur(15px);
    transition: 1s;

    &.on {
        left: 0%;
    }    
}
.content {
    width:100%;
    margin:100px auto;
    .wrap{
            padding:0px 180px;
            .item {
                width:320px;height:200px;float:left;
                padding:10px; box-sizing: border-box;
                transition:1s;
                >div {   
                    width:100%; height:100%;
                    background:#aaa;
                    text-align:right; box-sizing:border-box;
                    padding:30px 20px;
                    h2 {
                        font:400 20px/1 "Spartan";
                        letter-spacing: 1px;
                        margin-bottom:30px;
                    }
                    >p{
                        font:200 13px/1.4 "Spartan";
                    }
                }

                $h1:200px;
                $h2:400px;
                $w1:320px;
                $w2:640px;
                &:nth-of-type(1) {
                    width:$w2;
                    height: $h2;
                    >div{
                        background: url(../img/iso2.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(2) {
                    width:$w1;
                    height: $h1;
                    >div{
                        background: url(../img/iso6.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(3) {
                    width:$w1;
                    height: $h2;
                    >div{
                        background:#c92800;
                    }
                }
                &:nth-of-type(4) {
                    height: $h1;
                }
                &:nth-of-type(5) {
                    height: $h2;
                    >div{
                        background: url(../img/iso5.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(6) {
                    height: $h2;
                    >div{
                        background: url(../img/iso7.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(7) {
                    width:$w2;
                    height: $h1;
                }
                &:nth-of-type(8) {
                    height: $h2;
                    >div{
                        background: url(../img/iso9.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(9) {
                    height: $h2;
                    >div{
                        background: url(../img/iso16.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(10) {
                    width:$w1;
                    height: $h2;
                }
                &:nth-of-type(11) {
                    width:$w2;
                    height: $h1;
                }
                &:nth-of-type(12) {
                    width:$w2;
                    height: $h1;
                    >div{
                        background: url(../img/iso9.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(13) {
                    width:$w1;
                    height: $h2;
                    >div{
                        background: url(../img/iso11.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(14) {
                    width:$w2;
                    height: $h2;
                    >div{
                        background: url(../img/iso10.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(15) {
                    height: $h1;
                    >div{
                        background: url(../img/iso1.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(16) {
                    height: $h1;
                }
                &:nth-of-type(17) {
                    width:$w1;
                    height: $h1;
                    >div{
                        background: url(../img/iso4.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(18) {
                    width:$w2;
                    height: $h1;
                    >div{
                        background: url(../img/iso13.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(19) {
                    height: $h1;
                }
                &:nth-of-type(20) {
                    width:$w1;
                    height: $h1;
                }
                &:nth-of-type(21) {
                    width:$w1;
                    height: $h2;
                    >div{
                        background: url(../img/iso12.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(22) {
                    height: $h2;
                    >div{
                        background: url(../img/iso14.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(23) {
                    height: $h1;
                }
                &:nth-of-type(24) {
                    width:$w2;
                    height: $h1;
                    >div{
                        background: url(../img/iso3.png) no-repeat center/cover;
                    }
                }
                &:nth-of-type(25) {
                    width:$w1;
                    height: $h1;
                }
            }
    } 
}
#round {
    width:120px; height:120px;
    position:absolute;
    top:230px;left:12%;
    border-radius: 50%;
    border:1px solid #0b5c0b;
    box-sizing: border-box;
    padding:32px;
    overflow: hidden;
    p {
        width:100%; height:100%;
        letter-spacing: 30px;
        text-align: left;
        font: bold 15px/1.5 "Poiret One";
        color:#0b5c0b;
    }
}
        

@media screen and (max-width:999px) {
}
@media screen and (max-width:499px) {
}